.header-container{
    display: flex;
    flex-direction: row;
    /* width: 210vh; */
    justify-content: flex-end;
    padding:10px;
}

.button{
    background-color: rgb(9, 9, 145);
    color: white;
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 3px;

}

@media screen and (max-Width: 600px) {
    .header-container{
        width:45vh;
    }
}